<html>
<head>
  <meta charset='utf-8'>
  <title>Peakhours Data</title>
</head>
<body>
<h1> Hours </h1>

  <h4>Sorted Time Array</h4>
  <%=sorted_time %>
  
  <h4>Average Hour</h4>
  <%= avg_time %>
  
  <h4>Median Hour</h4>
  <%= median_time %>
  
  <h1>Days</h1>
  
  <h4>Sorted Day Array</h4>
  <%= sorted_day %>
  
  <h4>Average Day </h4>
  <%=avg_day %>
  
  <h4>Median Day </h4>
  <%= median_day %>
  
</body>
</html>